<div class="panel panel-default">
  <div class="panel-heading">Tramway station</div>
  <div class="panel-body">
    <div style="width: 500px; height: 500px"
      on_click=tramwayStationCTRL.create($mouseEvent)
      on_created=tramwayStationCTRL.gmapCreated($gmap) custom-gmap></div>
    <div ng-if="tramwayStationCTRL.selected != null" gmap=tramwayStationCTRL.gmap
      position=tramwayStationCTRL.selected icon=iconCTRL.tramwayStationIcon draggable=true
      on_right_click="tramwayStationCTRL.undo()" tramway-station></div>

    <!--    <input ng-hide="tramwayStationCTRL.selected == null" ng-value="tramwayStationCTRL.selected.name" >   -->
    <div ng-hide="tramwayStationCTRL.selected == null">
      <button ng-show="tramwayStationCTRL.selected.isNew()"
        ng-click="tramwayStationCTRL.save()">Save</button>
      <button
        ng-click="tramwayStationCTRL.undo()">Undo</button>
      <button ng-hide="tramwayStationCTRL.selected.isNew()"
        ng-click="tramwayStationCTRL.update()">Update</button>
      <button ng-hide="tramwayStationCTRL.selected.isNew()"
        ng-click="tramwayStationCTRL.delete()">Delete</button>
    </div>

    <div ng-repeat="station in tramwayStationCTRL.selectedStations"
      gmap=tramwayStationCTRL.gmap position=station
      icon=iconCTRL.tramwayStationIcon on_click=tramwayStationCTRL.select(station)
      tramway-station></div>

    <div style="position: absolute; top: 100px; right: 0;">
      <div style="position: relative">
        <div style="overflow: auto; height: 500px; width: 600px">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>Station Type</th>
                <th>id</th>
                <th><button ng-click="tramwayStationCTRL.showAll()">Show
                    all</button>
                  <button ng-click="tramwayStationCTRL.hideAll()">Hide all</button></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="station in tramwayStationCTRL.stations"
                ng-click="tramwayStationCTRL.addToSelection(station)"
                ng-class="{info:tramwayStationCTRL.selectedStations.contains(station)}">
                <td>{{station.runtimeType}}</td>
                <td>{{station.id}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>