<div class="panel panel-default" bus-line-ctrl>
	<div class="panel-heading">Bus line</div>
	<div class="panel-body">
		<div style="width: 500px; height: 500px" gmaps="ctrl.customMap"
			gmaps-on-click="ctrl.addMapPoint($latLng)"
			transportation-line-custom-map></div>
		<div ng-if="ctrl.selected != null" transportationLine="ctrl.selected"
			gmaps="ctrl.customMap" line-link-mode="ctrl.lineLinkMode" selected-map-point="ctrl.selectedMapPoint" transportation-line></div>
		<div ng-hide="ctrl.selected == null">
			<input ng-model="ctrl.selected.name" width="50">
			<button ng-show="ctrl.selected.isNew" ng-click="ctrl.save()">Save</button>
			<button ng-show="ctrl.selected.isNew" ng-click="ctrl.undo()">Undo</button>
      <button ng-hide="ctrl.selected.isNew" ng-click="ctrl.saveReverseLine()">Save reversed</button>
			<button ng-hide="ctrl.selected.isNew" ng-click="ctrl.update()">Update</button>
			<button ng-hide="ctrl.selected.isNew" ng-click="ctrl.delete()">Delete</button>
			<button ng-hide="ctrl.lineLinkMode == true" ng-click="ctrl.lineLinkMode = true">Set link mode</button>
		</div>

		<div transportationLine="transportationLine" gmaps="ctrl.customMap"
			on-click="ctrl.select(transportationLine)"
			ng-repeat="transportationLine in ctrl.selectedTransportationLines"
			transportation-line></div>
    
		<div station="station" gmaps="ctrl.customMap"
			on-click="ctrl.addStation($station)"
			ng-repeat="station in ctrl.stations"
			></div>

		<div style="position: absolute; top: 100px; right: 0;">
			<div style="position: relative">
				<div style="overflow: auto; height: 500px; width: 600px">
					<table class="table table-striped table-hover">
						<thead>
							<tr>
								<th>TransportationLine Type</th>
								<th>Id</th>
								<th>Name</th>
								<th><button ng-click="ctrl.showAll()">Show all</button>
									<button ng-click="ctrl.hideAll()">Hide all</button></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="transportationLine in ctrl.transportationLines"
								ng-click="ctrl.addToSelection(transportationLine)"
								ng-class="{info:ctrl.selectedTransportationLines.contains(transportationLine)}">
								<td>{{transportationLine.runtimeType}}</td>
								<td>{{transportationLine.id}}</td>
								<td>{{transportationLine.name}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>