html,body {
    height: 100%;
    overflow: hidden;
}

header {
    margin-bottom: -20px;
}

#map {
    display: block;
    position: absolute;
    height: auto;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 50px;
}

#go {
    position: absolute;
}

@MEDIA screen and (min-width : 1024px) /*and (max-width : 1366px)*/ {
    #go {
        width: 30%;
        left: 35%;
    }
}

@MEDIA screen and (max-width : 1024px) {
    #go {
        width: 36%;
        left: 33%;
    }
}

#go button {
    width: 100%;
    -moz-animation: ready 3s;
    -moz-animation-iteration-count: infinite;
    -webkit-animation: ready 3s;
    -webkit-animation-iteration-count: infinite;
    animation: ready 3s;
    animation-iteration-count: infinite;
}

#user-panel {
    position: absolute;
    width: 40%;
    //height: 20%;
    bottom: 0%;
    left: 30%;
}

#user-panel #suggestions {
    width: 26%;
    left: 37%;
    position: relative;
}

#administrator-panel {
    position: absolute;
    width: 40%;
    height: 20%;
    bottom: -15%;
    left: 30%;
}

#administrator-panel #edit {
    width: 20%;
    left: 40%;
    position: relative;
}

#administrator-box {
    background-color: white;
}

@-moz-keyframes ready {
    0% {background: #75caeb;}
    50%{background: #9fd5eb;}
    100%{background:#75caeb;}
}

@-webkit-keyframes ready {
    0% {background: #75caeb;}
    50%{background: #9fd5eb;}
    100%{background:#75caeb;}
}

@keyframes ready {
    0% {background: #75caeb;}
    50%{background: #9fd5eb;}
    100%{background:#75caeb;}
}

@-moz-keyframes slide-up {
    from {bottom: -15%;}
    to {bottom: 0;}
}
@-webkit-keyframes slide-up {
    from {bottom: -15%;}
    to {bottom: 0;}
}
@keyframes slide-up {
    from {bottom: -15%;}
    to {bottom: 0;}
}

@-moz-keyframes slide-down {
    from {bottom: 0;}
    to {bottom: -15%;}
}
@-webkit-keyframes slide-down {
    from {bottom: 0;}
    to {bottom: -15%;}
}
@keyframes slide-down {
    from {bottom: 0;}
    to {bottom: -15%;}
}


////////
.blink_text {
-webkit-animation-name: blinker;
-webkit-animation-duration: 1s;
-webkit-animation-timing-function: linear;
-webkit-animation-iteration-count: infinite;

-moz-animation-name: blinker;
-moz-animation-duration: 1s;
-moz-animation-timing-function: linear;
-moz-animation-iteration-count: infinite;

 animation-name: blinker;
 animation-duration: 1s;
 animation-timing-function: linear;
 animation-iteration-count: infinite;

 color: red;
}

@-moz-keyframes blinker {  
 0% { opacity: 1.0; }
 50% { opacity: 0.0; }
 100% { opacity: 1.0; }
 }

@-webkit-keyframes blinker {  
 0% { opacity: 1.0; }
 50% { opacity: 0.0; }
 100% { opacity: 1.0; }
 }

@keyframes blinker {  
 0% { opacity: 1.0; }
 50% { opacity: 0.0; }
 100% { opacity: 1.0; }
 }