h5{
color:#468FCD;
}

.btn-collapse{
padding-left:20px;
  }

 .header{
 	background-color: #468FCD;
 }

 .sidebar-image{
  width:100%;
      height:150px;
      background-image: url(../images/back.jpg);
vertical-align: middle;
}

.sidebar-image img {
      width:100px;
      height:100px;
      margin: 25px;
      border-radius: 50%;
    }


.header-img {
      width:40px;
      height:40px;
      margin:12px;
      border-radius: 50%;
       vertical-align:top;
    }

.sidebar-image p {
      float: right;
      margin:40px;
	  font-size: 20px;
	  height:50px;
      vertical-align: middle;
    }

/*****************************************/
a:hover,a:focus {
text-decoration:none;
}

.main-menu {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

.main-menu ul,.main-menu li {
outline:0;
margin:0;
padding:0;
}
.main-menu li:hover>a,nav.main-menu li.active>a{
color:#fff;
background-color:#5fa2db;
}

.fa-2x {
font-size: 2em;
}
.fa {
position: relative;
display: table-cell;
width: 60px;
height: 36px;
text-align: center;
vertical-align: middle;
font-size:20px;
}


.main-menu {
/*background:#fbfbfb;*/
border-right:1px solid #e5e5e5;
position:absolute;
left:0;
width:100%;
overflow:hidden;
-webkit-transition:width .05s linear;
transition:width .05s linear;
-webkit-transform:translateZ(0) scale(1,1);
z-index:1000;
}

.main-menu>ul {
margin:7px 0;
}

.main-menu li {
position:relative;
display:block;
width:100%;
}

.main-menu li>a ,.main-menu a,.s-menu{
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
color:#999;
 font-family: arial;
font-size: 14px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
transition:all .1s linear;
}

.main-menu .nav-icon {
position:relative;
display:table-cell;
width:60px;
height:36px;
text-align:center;
vertical-align:middle;
font-size:18px;
}

.main-menu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
width:100%;
  font-family: 'Titillium Web', sans-serif;
  padding-left: 20px;
}

td, th {
  padding: 0;
}

.btn.disabled{
	color:white;
}