<div class="panel panel-default">
	<div class="panel-heading">Bus station</div>
	<div class="panel-body">
		<div style="width: 500px; height: 500px"
			on_click=busStationCTRL.create($mouseEvent)
			on_created=busStationCTRL.gmapCreated($gmap) custom-gmap></div>
		<div ng-if="busStationCTRL.selected != null" gmap=busStationCTRL.gmap
			position=busStationCTRL.selected icon=iconCTRL.busStationIcon
			draggable=true on_right_click="busStationCTRL.undo()" bus-station></div>

		<div ng-hide="busStationCTRL.selected == null">
			<button ng-show="busStationCTRL.selected.isNew()"
				ng-click="busStationCTRL.save()">Save</button>
			<button ng-click="busStationCTRL.undo()">Undo</button>
			<button ng-hide="busStationCTRL.selected.isNew()"
				ng-click="busStationCTRL.update()">Update</button>
			<button ng-hide="busStationCTRL.selected.isNew()"
				ng-click="busStationCTRL.delete()">Delete</button>
			<input ng-model=busStationCTRL.selected.name width="50">
		</div>

		<div ng-repeat="station in busStationCTRL.selectedStations"
			gmap=busStationCTRL.gmap position=station
			icon=iconCTRL.busStationIcon on_click=busStationCTRL.select(station)
			bus-station></div>

		<div style="position: absolute; top: 100px; right: 0;">
			<div style="position: relative">
				<div style="overflow: auto; height: 500px; width: 600px">
					<table class="table table-striped table-hover">
						<thead>
							<tr>
								<th>Station Type</th>
								<th>id</th>
								<th>name</th>
								<th><button ng-click="busStationCTRL.showAll()">Show
										all</button>
									<button ng-click="busStationCTRL.hideAll()">Hide all</button></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="station in busStationCTRL.stations"
								ng-click="busStationCTRL.addToSelection(station)"
								ng-class="{info:busStationCTRL.selectedStations.contains(station)}">
								<td>{{station.runtimeType}}</td>
								<td>{{station.id}}</td>
								<td>{{station.name}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>