<!DOCTYPE html>
<html ng-app>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>Transpori</title>
        <!-- Bootstrap -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/perso.css">

        <link href="packages/angular_ui/css/angular.css" rel="stylesheet">
        <script
        src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCdXjZUsvzh5TReAlXhV8nNEfzOWjU7gGM&sensor=false"></script>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script
        src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="js/bootstrap.min.js"></script>
        <!-- Dart -->
        <script src="packages/shadow_dom/shadow_dom.min.js"></script>
        <script type="application/dart" src="main.dart"></script>
        <script type="text/javascript" src="packages/browser/dart.js"></script>
    </head>
    <body home-ctrl ng-cloak="">
        <header>
            <div class="navbar navbar-default">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target=".navbar-responsive-collapse">
                        <span class="icon-bar"></span> <span class="icon-bar"></span> <span
                            class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Transpori</a>
                </div>
                <div class="navbar-collapse collapse navbar-responsive-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">A propos{{1 + 1}}</a></li>
                    </ul>
                </div>
            </div>
        </header>

        <div id="map"></div>

        <div id="go" ng-show="ctrl.isPathMode()">
            <button class="btn btn-info disabled" ng-show="!ctrl.isReadyToSearchPaths()">Chose directions</button>
            <button class="btn btn-info" ng-show="ctrl.isReadyToSearchPaths()">Go</button>
        </div>
        <div id="go" ng-show="ctrl.isSuggestionMode()">
            <button class="btn btn-info disabled" style="">Cliquer sur un point pour suggérer une station</button>
        </div>
        <div id="user-panel" ng-show="!ctrl.user.isAdministrator()">
            <div>
                <button id="suggestions" class="btn btn-warning" ng-click="ctrl.setSuggestionMode()" ng-show="ctrl.isPathMode()">Suggérer</button>
                <button id="suggestions" class="btn btn-warning" ng-click="ctrl.setPathMode()" ng-show="ctrl.isSuggestionMode()">Terminer</button>
            </div>
        </div>
        <div id="administrator-panel" ng-show="ctrl.user.isAdministrator()">
            <div><button id="edit" class="btn btn-danger" ng-click="ctrl.moveAdminPanel()">Edit</button></div>
            <div id="administrator-box">
                <div>
                    <div class="btn-group btn-group-justified">
                        <a class="btn btn-default" ng-click="ctrl.setStationMode()">Stations</a>
                        <a class="btn btn-default" ng-click="ctrl.setLineMode()">Lines</a>
                    </div>
                </div>
                <div ng-show="ctrl.isLineMode()">
                    <!--                    <select ng-model="ctrl.selectedTransportationLine" ng-change="ctrl.transportationLineChanged()">
                                            <option ng-repeat="transportationLine in ctrl.map.transportationLines" ng-value="{{transportationLine}}">{{transportationLine.name}}</option>
                                        </select> 
                    <select ng-options="transportationLine.name for transportationLine in ctrl.map.transportationLines" ng-model="ctrl.selectedTransportationLine" ng-change="ctrl.transportationLineChanged()">
                        <!--<option ng-repeat="" ng-value="{{transportationLine}}">{{transportationLine.name}}</option>-->
                    </select> 
                    <select ng-model="ctrl.selectedTransportationLineType">
                        <option ng-repeat="transportationLineType in ctrl.transportationLineTypes" value="{{transportationLineType.id}}">{{transportationLineType.type}}</option>
                    </select>
                    <button ng-click="ctrl.saveLine()">Save line</button>
                    <button ng-click="ctrl.newLine()">New line</button>
                    <button ng-click="ctrl.cancelLine()">Cancel line</button>
                    <br> <input ng-model="ctrl.selectedTransportationLine.name"/>
                    <button ng-click="ctrl.addLine()">Add line</button>
                </div>
                <div ng-show="ctrl.isStationMode()">
                    <select ng-model="ctrl.selectedStationType">
                        <option ng-repeat="stationType in ctrl.stationTypes" value="{{stationType.id}}">{{stationType.type}}</option>
                    </select>
                    <button id="saveStations">Save stations</button>
                </div>
            </div>
        </div>
    </body>
</html>
